.Navbar-nav a.active {
  color: black;
  font-weight: bold;
}

.Navbar-name {
  font-size: 1.5rem;
}

.Navbar-nav {
  display: flex;
  justify-content: space-between;
  background-color:#e3f2fd;
  align-items: baseline;
  padding-top: 10px;
  border-bottom: 2px solid rgb(140, 139, 139);
}


.Navbar-nav a {
  color: rgb(0, 106, 255);
  text-decoration: none;
}

.Navbar-list{
  display: flex;
  list-style: none;
  flex-direction: row;
  font-size: 1.2rem;
}

.Navbar-listitem{
  text-decoration: none;
  padding: 10px;
}